ul, ol {
	margin: 0 0 1.5em 3em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

/* Alternate styles */
.list-inline {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}

.list-inline li {
	display: inline-block;
	margin-right: 1em;
}
