.site-header {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	margin-bottom: 2em;
	padding-top: 1.5em;
	padding-bottom: 0;

	@media screen and (min-width: $bp_2) {
		padding-top: 2.75em;
		padding-bottom: 2.75em;
	}
}

.site-header-drawer {
	position: relative;
	background-color: #4A4A4A;
	max-height: 0;
	overflow: hidden;
  margin-top: -.5em;
	will-change: transform;
	transition: max-height 300ms ease-out;
	transition-delay: 0s;

	.toggled + & {
		max-height: 70px;
	}

	@media screen and (min-width: $bp_2) {
		position: relative;
		top: 3em;
		margin-top: 0;
		margin-bottom: 0;
		background-color: #4A4A4A;
		max-height: 0;
		overflow: hidden;

		&.active {
			max-height: 70px;
		}
	}
}


.site-header-drawer .search-form {
	max-width: calc( 100% - 2em );
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $bp_2) {
		max-width: 30em;
	}
}

.site-header-drawer .search-field,
.site-header-drawer .search-field:focus {
	background: transparent;
	width: calc(100% - 9em);
	padding: .85em 1em .85em;
	color: #fff;
	@include font-size(0.75);
	text-transform: uppercase;
	letter-spacing: 1px;
	line-height: 1;
}

.site-header-drawer .search-submit {
	background-color: darken( $color__background-button, 5% );
	border: 1px solid darken( $color__border-input, 25% );
	width: 6em;

	&:hover,
	&:focus {
		border: 1px solid $color__border-input;
	}
}

.site-branding {
	position: relative;
	margin-bottom: 1.5em;

	@media screen and (min-width: $bp_2) {
		margin-bottom: 0;
	}
}

.site-title {
	width: 218px;
	height: 77px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;

	@media screen and (min-width: $bp_2) {
		display: inline-block;
	}
}

.site-title a {
	position: relative;
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	background: url(assets/img/logo.svg) no-repeat 0 0;
	z-index: 10;
}
