.site-header {
	position: relative;
	border-bottom: 1px solid #e5e5e5;
	text-align: center;
	margin-bottom: 2em;
	padding-top: 1.5em;
	padding-bottom: 1.5em;

	@media screen and (min-width: $bp_2) {
		padding-top: 2.75em;
		padding-bottom: 2.75em;
	}
}

.site-branding {
	position: relative;
	z-index: 10;
}

.site-title {
	width: 218px;
	height: 77px;
	margin-top: 0;
	margin-left: auto;
	margin-bottom: 0;
	margin-right: auto;
}

.site-title a {
	display: block;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
	background: url(assets/img/logo.svg) no-repeat 0 0;
}
