.widget {
	margin: 0 0 2em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
	@include slug-style();
	text-align: center;
}

.widget ul {
	margin-left: 0;
}

/**
 * Wordpress Popular Posts styles
 */
.wpp-list {
	padding-left: 0;
	list-style: none;
}

.wpp-list li {
	margin-bottom: 1.5em;
}

.wpp-list .wpp-thumbnail {
	width: 75px;
	margin: 0 .5em 0 0;
}

.wpp-list .wpp-post-title {
	display: block;
	font-family: $font__alt;
	font-size: 1.125em;
	line-height: 1.2;
	text-decoration: none;
	color: $color__text-main;

	&::first-letter {
		text-transform: capitalize;
	}

	&::after {
		content: "Read more \2192";
		@include slug-style();
		display: block;
		font-size: .625em;
		margin-top: .625em;
	}
}

/**
 * WP Instagram Widget
 */

ul.instagram-pics {
	max-width: calc( 300px + 1em );
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	list-style: none;
}

.instagram-pics li {
	display: inline-block;
	width: calc(50% - 0.5em);
	margin-bottom: 1em;
}

.instagram-pics li img {
	vertical-align: top;
}

.instagram-pics li:nth-child(2n) {
	margin-left: 1em;
}

.instagram-pics img {
	box-shadow: 0 0 0 1px rgba( 75, 75, 75, 0.1 );
}

/**
 * Social Widget
 */

.jojo_social_widget {
	@extend .block;
}
