.widget {
	margin: 0 0 2em;

	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

.widget-title {
	@include slug-style();
	text-align: center;
}

.widget ul {
	margin-left: 0;
}

/**
 * Wordpress Popular Posts styles
 */
.wpp-list {
	padding-left: 0;
	list-style: none;
}

.wpp-list li {
	margin-bottom: 1.5em;
}

.wpp-list .wpp-thumbnail {
	width: 75px;
	margin: 0 .5em 0 0;
}

.wpp-list .wpp-post-title {
	display: block;
	font-family: $font__alt;
	font-size: 1.125em;
	line-height: 1.2;
	text-decoration: none;
	color: $color__text-main;

	&::first-letter {
		text-transform: capitalize;
	}

	&::after {
		content: "Read more \2192";
		@include slug-style();
		display: block;
		font-size: .625em;
		margin-top: .625em;
	}
}

/**
 * Mailchimp styles
 */

#mc_subheader,
.mc_merge_var:nth-child(1n+3),
.mc_required,
.mc_interests_header,
.mc_interest,
#mc-indicates-required,
.mergeRow {
	display: none;
}

#mc_signup .mc_var_label {
	@include slug-style();
	font-size: .625em;
	margin-bottom: .25em;
}

#mc_signup #mc_signup_submit {
	width: 100%;
	margin-top: 0;
}

/**
 * WP Instagram Widget
 */

ul.instagram-pics {
	max-width: calc( 300px + 1em );
	margin-left: auto;
	margin-right: auto;
	padding: 0;
	list-style: none;
}

.instagram-pics li {
	display: inline-block;
	width: calc(50% - 0.5em);
	margin-bottom: 1em;
}

.instagram-pics li img {
	vertical-align: top;
}

.instagram-pics li:nth-child(2n) {
	margin-left: 1em;
}

.instagram-pics img {
	box-shadow: 0 0 0 1px rgba( 75, 75, 75, 0.1 );
}

/**
 * Widget text
 */
.widget_text {
	padding: .25em .5em;
	border-radius: 3px;

	&:last-child {
		border: 2px solid rgba(74, 74, 74, .3);
	}
}
