.main-navigation {
	clear: both;
	display: block;
	width: 100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	z-index: -1;

	ul {
		max-height: 0;
		overflow: hidden;
		list-style: none;
		margin: 0;
		padding-left: 0;
		will-change: transform;
		transition: max-height 300ms ease-in-out;
		transition-delay: 0s;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 1.5em;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					left: 100%;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		display: inline-block;
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

.menu-primary-nav-container {
	@media screen and (min-width: $bp_2) {
		margin-top: -50px;
	}
}

.main-navigation .menu-item {
	padding: .5em 1.5em;
	@include slug-style();
}

.main-navigation .menu-item:nth-child(2) {
	@media screen and (min-width: $bp_2) {
		margin-right: 380px;
	}
}

.main-navigation a {
	color: $color__text-main;
	border-bottom: 1px solid #888;
}

/* Small menu. */
.menu-toggle {
	display: block;
}

.main-navigation.toggled ul {
	max-height: 300px;
}

.menu-toggle {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	background-position: center;
	background-repeat: no-repeat;
}

@media screen and (min-width: $bp_2) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		max-height: none;
	}
}

@media screen and ( max-width: $bp_2 ) {
	.main-navigation  {
		background-color: $color__background-footer;
		padding-left: 1em;
		padding-right: 1em;
	}

	.main-navigation .menu-item {
		display: block;
		border-top: 1px solid #aaa;

		&:first-child {
			border-top: none;
		}

		// Hide the search item
		&:last-child {
			display: none
		}

		a,
		a:visited {
			padding-top: .5em;
			padding-bottom: .5em;
			border-bottom: none;
			color: #fff;
		}
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {

	.site-main & {
		margin: 0 0 1.5em;
		overflow: hidden;
	}

	.nav-previous {
		float: left;
		width: 50%;
	}

	.nav-next {
		float: right;
		text-align: right;
		width: 50%;
	}
}

.single-jetpack-portfolio .post-navigation {
	padding-left: .5em;
	padding-right: .5em;
}

.adjacent-link-image,
.adjacent-link-label {

	.nav-next & {
		float: right;
		clear: right;
	}
}

.adjacent-link-label {
	display: block;
	width: 100%;
	max-width: 150px;
	text-align: center;
	font-size: .8em;
	line-height: $font__line-height-headers;
}

.adjacent-link-image:hover .adjacent-link-label,
.adjacent-link-image:focus .adjacent-link-label {
	// background-color: rgba( #fff, 1 );
}
