.site-content {
	max-width: $bp_3;
	margin-left: 1em;
	margin-right: 1em;

	@media screen and (min-width: $bp_3) {
		margin-left: auto;
		margin-right: auto;
	}
}

.content-area {
	max-width: $size__site-main;

	@media screen and (min-width: $bp_2) {
		float: left;
		margin: 0 (-$size__site-sidebar-md) 0 0;
	}

	@media screen and (min-width: $bp_3) {
		margin: 0 (-$size__site-sidebar-sm) 0 0;
	}

}

.site-main {
	margin-bottom: 2em;

	@media screen and (min-width: $bp_2) {
		margin-right: calc(#{$size__site-sidebar-md} + 40px);
	}

	@media screen and (min-width: $bp_3) {
		margin-right: calc(#{$size__site-sidebar-sm} + 80px);
	}

}

.content-area.full-width {
	float: none;
	margin: 0;

	.single & {
		max-width: 50em;
		margin-left: auto;
		margin-right: auto;

		@media screen and (min-width: $bp_3) {
			font-size: 1.125em;
		}
	}

}

.full-width .site-main {
	margin-right: 0;
}

.site-content .widget-area {
	max-width: $bp_1;
	margin-left: auto;
	margin-right: auto;

	@media screen and (min-width: $bp_2) {
		float: right;
		overflow: hidden;
		width: $size__site-sidebar-md;
	}

	@media screen and (min-width: $bp_3) {
		width: $size__site-sidebar-sm;
	}
}
