/**
 * Portfolio
 */

.portfolio {
	&::before,
	&::after {
		@include clearfix();
	}

	&::after {
		@include clearfix-after();
	}
}

.portfolio-list {
	display: block;
}

.portfolio-list .jetpack-portfolio {
	float: left;
	max-width: calc( 50% - .5em );
	margin-right: 1em;

	&:nth-child(2n) {
		margin-right: 0;
	}

	&:nth-child(2n + 1) {
		clear: left;
	}

	@media screen and (min-width: $bp_2) {
		max-width: calc( 25% - 1.5em );
		margin-right: 2em;

		&:nth-child(2n) {
			margin-right: 2em;
		}

		&:nth-child(2n + 1) {
			clear: none;
		}

		&:nth-child(4n) {
			margin-right: 0;
		}

		&:nth-child(4n + 1) {
			clear: left;
		}
	}
}

.jetpack-porfolio-tile {
	position: relative;
	text-align: center;
	width: 100%;
	background-color: rgba(#e5e5e5, .333);
	border: 1px solid #e5e5e5;

	// Force the div to a square
	&::before {
		content: "";
		display: block;
		padding-top: 100%;
	}
}

.jetpack-portfolio-tile-title {
	position: absolute;
	top: 50%;
	left: 1em;
	right: 1em;
	transform: translateY(-50%);
	margin-top: 0;
	margin-bottom: 0;
	font-family: $font__alt;
	font-size: 1.125em;
	font-weight: normal;
	line-height: $font__line-height-headers;

	@media screen and (min-width: $bp_2) {
		font-size: 1.5em;
	}
}

.portfolio-list .portfolio-title {
	@include slug-style();
	margin-top: .25em;
	font-weight: bold;

	a,
	a:visited {
		color: $color__text-main;
		text-decoration: none;
		border-bottom: 1px solid #888;
		line-height: 1.75;

		&:hover,
		&:focus {
			border-bottom: none;
		}
	}
}

.portfolio-list .wp-post-thumbnail {
	vertical-align: bottom;
}

.adjacent-link-image {
	display: table;
	position: relative;
}

.adjacent-link-image .adjacent-link-label {
	position: absolute;
	width: 100%;
	top: 50%;
	display: block;
	text-align: center;
	vertical-align: middle;
	transform: translateY( -50% );
	font-weight: 900;
	font-size: 1.5em;
	font-family: $font__alt;
	background-color: rgba( #fff, 0.8 );
	transition: background-color 150ms ease-in;
}

.adjacent-link-image:hover .adjacent-link-label,
.adjacent-link-image:focus .adjacent-link-label {
	background-color: rgba( #fff, 1 );
}
