.sticky {
	display: block;
}

.hentry {
	margin: 0 0 4em;
}

.updated:not(.published) {
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;

	@media screen and (min-width: $bp_2) {
		font-size: 20px;
	}
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.entry-title {
	margin-top: 0;
	margin-bottom: .25em;
	font-family: $font__alt;
	font-size: 34px;
	line-height: $font__line-height-headers;

	&::first-letter {
		text-transform: capitalize;
	}

	a,
	a:hover,
	a:focus,
	a:visited {
		color: $color__text-main;
		text-decoration: none;
	}

	a:hover,
	a:focus {
		text-decoration: underline;
	}
}

.entry-meta {
	margin-bottom: 2em;
	font-weight: 200;
}

.entry-meta .posted-on,
.entry-meta .byline {
	@include slug-style();

	a {
		color: $color__text-main;
	}

	&::after {
		content: "·";
		padding: 0 .75em;
	}
}

.entry-meta .byline:last-child {
	&::after {
		content: none;
	}
}

.entry-meta .tagged {
	font-size: .85em;

	a {
		color: $color__text-main;
		padding: 0 .25em;
	}
}
.entry-footer a {
	color: $color__text-main;
}

.entry-footer .cat-links {
	display: block;
	margin-bottom: 1.5em;
	padding-bottom: 1em;
	border-bottom: 1px solid #aaa;
}

.entry-footer .comments-link,
.entry-footer .sharing-label {
	@include slug-style();
	float: left;
}

.entry-footer .comments-link {
	&::after {
		content: "·";
		padding: 0 .75em;
	}
}

.entry-footer .edit-link {
	@include slug-style();
	display: block;
	text-align: right;
}

div.sharedaddy,
#content div.sharedaddy,
#main div.sharedaddy {
	clear: none !important;
	float: left;
	margin-top: -.25em;
	margin-left: .5em;
}
