/**
 * Colors
 */
$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #4A4A4A;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;
$color__background-footer: #4A4A4A;

$color__text-screen: #21759b;
$color__text-input: #666;
$color__text-button: #fff;
$color__text-input-focus: #111;
$color__link: #FDE724;
$color__link-visited: #FDE724;
$color__link-hover: #FDE724;
$color__link-footer: #FFFFFF;
$color__text-main: #424242;

$color__border-button: #4A4A4A;
$color__border-button-hover: #4A4A4A;
$color__border-button-focus: #4A4A4A;
$color__border-input: #ccc;
$color__border-abbr: #666;

/**
 * Typography
 */
$font__main: "freight-sans-pro", sans-serif;
$font__alt: "freight-text-pro", sans-serif;
$font__alt2: "brandon-grotesque", "freight-sans-pro", sans-serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;
$font__line-height-body: 1.85;
$font__line-height-pre: 1.6;
$font__line-height-headers: 1.333;

/**
 * Structure
 */
$size__site-main: 100%;
$size__site-sidebar-md: 33%;
$size__site-sidebar-sm: 30%;


/**
 * Breakpoints
 */
$bp_1: 25em;
$bp_2: 51em;
$bp_3: 67em;
$bp_4: 75em;
